# --------------------------------------------------
# GROQ
# --------------------------------------------------

GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=your_groq_model


# --------------------------------------------------
# QDRANT
# --------------------------------------------------

QDRANT_URL=your_qdrant_cluster_url
QDRANT_API_KEY=your_qdrant_api_key
QDRANT_COLLECTION_NAME=company_documents
QDRANT_EMBEDDING_MODEL=intfloat/multilingual-e5-small


# --------------------------------------------------
# TAVILY
# --------------------------------------------------

TAV_API_KEY=your_tavily_api_key


# --------------------------------------------------
# FRONTEND
# --------------------------------------------------

API_URL=http://127.0.0.1:8000

DATA_DIR=/app/data
DATABASE_URL=postgresql://neondb_owner:npg_atJAsg62xGdF@ep-bitter-art-b4kmy9w1-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require