fastapi
uvicorn[standard]
streamlit
requests
python-dotenv

langchain
langchain-core
langchain-community
langchain-groq
langgraph

qdrant-client

pypdf
python-docx

plotly
pandas

tavily-python

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

reportlab

psycopg2-binary